{% extends 'hrmain.html' %}
{% load static %}
<html>

<body>

{% block mycontent %}
<main>

    <!-- Header Section -->
    <header>
        {% if hr %}
        <h1>Welcome {{hr.Name}} </h1>
        {% elif head %}
        <h1>Welcome {{head.Name}} </h1>
        {% elif acc %}
        <h1>Welcome {{acc.Name}} </h1>
        {% endif %}
    </header>



<div class="welcome" style="margin-left: 280px;">
    Welcome To APM
</div>
<div class="container"> <!-- Image and text on image -->
    <div style="font-size: 16px; position: absolute; top: 18rem; margin-right: 200px; padding-left: 400px;">
        <h1>Attendance & Payroll Management System</h1>
    </div>
</div>

<div class="pooja"> <!-- Short Info about system -->
    <p>
        <b style="color: rgb(3, 106, 9);">Attendance & Payroll Management System</b></br></br>
        The system records employee attendance, including clock-in and clock-out times, as well as any leave or absence requests.Attendance and Payroll Management System helps organizations improve efficiency, accuracy, and compliance in managing employee attendance and payroll processes.

    </p>
    <p style="color: rgb(3, 106, 9); margin-top: 250px; margin-left: 520px; font-size: 30px; font-weight: bold;">Future Visions</p></br></br>

</div> <!-- Division showing how system works -->
<center>
    
    <div class="row">
        <div class="column"> <!-- Content for the first column -->
            <center>
                <h2>Mask Detection</h2>
                <img src="{% static 'images/mask_detection.jpg' %}" class="img1">
            </center>
        </div>
        <div class="column"> <!-- Content for the second column -->
            <center>
                <h2>Touchless, Access Control Integrated</h2>
                <img src="{% static 'images/touchless_attendance.jpg' %}" class="img1">
            </center>
        </div>
    </div>
</center>

<div class="row1"> <!-- Features -->
    <h2 style="font-size: 3.12rem; padding-top: 1.25rem;">Attendance & Payroll Management System - Features
    </h2>
    <div class="grid-container">
        <div class="grid-item">Automatic Payment Calculations
            <div class="bottom-content">
                <div class="column1"><img src="{% static 'images/rs.png' %}"></div>
                <div class="column1"
                    style="font-size: 1.12rem ; color: rgb(19, 46, 2); text-overflow: clip; padding-top: 0.93rem; text-align: left;">
                    Run payroll in a few clicks and automatically with deductions.</div>
            </div>
        </div>
        <div class="grid-item">Salary structures
            <div class="bottom-content">
                <div class="column1"><img src="{% static 'images/salary.png' %}"></div>
                <div class="column1"
                    style="font-size: 1.12rem; color:rgb(19, 46, 2); text-overflow: clip; padding-top: 0.93rem; text-align: left;">
                    Create multiple pay slabs for your staff, leads, and managers and associate the right template with each employee.</div>
            </div>
        </div>
        <div class="grid-item">Pay employees on time
            <div class="bottom-content">
                <div class="column1"><img src="{% static 'images/pay.png' %}"></div>
                <div class="column1"
                    style="font-size: 1.12rem; color: rgb(19, 46, 2); text-overflow: clip; padding-top: 0.93rem; text-align: left;">
                    Transfer employees' salaries directly to their bank accounts with timely online transfers and readily available bank advice.</div>
            </div>
        </div>
        <div class="grid-item">Straightforward compliance
            <div class="bottom-content">
                <div class="column1"><img src="{% static 'images/secure.png' %}"></div>
                <div class="column1"
                    style="font-size: 1.12rem; color: rgb(19, 46, 2); text-overflow: clip; padding-top: 0.93rem; text-align: left;">
                    Steer your business clear of compliance penalties.</div>
            </div>
        </div>
        <div class="grid-item">Complete pay runs in a click
            <div class="bottom-content">
                <div class="column1"><img src="{% static 'images/Complete.png' %}"></div>
                <div class="column1"
                    style="font-size: 1.12rem; color:rgb(19, 46, 2); text-overflow: clip; padding-top: 0.93rem; text-align: left;">
                    Spend less time completing your payroll. Once you have your paydays and schedule set, a click is all it takes to pay your employees.</div>
            </div>
        </div>
        <div class="grid-item">Multi-Language Capability
            <div class="bottom-content">
                <div class="column1"><img src="{% static 'images/Multi-Language-Capability.png' %}"></div>
                <div class="column1"
                    style="font-size: 1.12rem; color:rgb(19, 46, 2); text-overflow: clip; padding-top: 0.93rem; text-align: left;">
                    Our system is apt for the Indian context.</div>
            </div>
        </div>
        <div class="grid-item">Flexible Screen Sizes
            <div class="bottom-content">
                <div class="column1"><img src="{% static 'images/Fexible-Screen-Sizes.png' %}"></div>
                <div class="column1"
                    style="font-size: 1.12rem; color: rgb(19, 46, 2); text-overflow: clip; padding-top: 0.93rem; text-align: left;">
                    We provide flexible display sizes as per requirements. Normally, we offer a 7 inch touchscreen
                    tablet for our facial recognition system.</div>
            </div>
        </div>
        <div class="grid-item">Salary history and designation
            <div class="bottom-content">
                <div class="column1"><img src="{% static 'images/payment.png' %}"></div>
                <div class="column1"
                    style="font-size: 1.12rem; color: rgb(19, 46, 2); text-overflow: clip; padding-top: 0.93rem; text-align: left;">
                    Follow your employees' career progress by tracking their salary revision history and designation changes. Automatic updates in the self-service portal keeps employees informed too.</div>
            </div>
        </div>
        <div class="grid-item">Easily Scalable
            <div class="bottom-content">
                <div class="column1"><img src="{% static 'images/FR-Easily-Scalable .png' %}"></div>
                <div class="column1"
                    style="font-size: 1.12rem; color: rgb(19, 46, 2); text-overflow: clip; padding-top: 0.93rem; text-align: left;">
                    Our system can scan 5000 unique faces on the edge device. Can provide options for capacity and
                    performance up to 50000+ based on hardware.</div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
<div class="faq"> <!-- FAQ -->
    <h1 style="color: rgb(3, 106, 9); font-size: 2.5rem; text-align: center;">FAQs</h1>
    <div class="faq-section">
        <div class="faq-item">
            <h3>What is a attendance and payroll management system? <span class="icon">➕</span></h3>
        </div>

        <div class="faq-item">
            <h3>Which organizations can benefit from a attendance and payroll management system? <span
                    class="icon">➕</span></h3>
        </div>

        <div class="faq-item">
            <h3>Does attendance system provide accurate results? <span class="icon">➕</span></h3>
        </div>

        <div class="faq-item">
            <h3>Is attendance customizable? <span class="icon">➕</span></h3>
        </div>

        <div class="faq-item">
            <h3>Is a attendance system a costly investment? <span class="icon">➕</span></h3>
        </div>

        <div class="faq-item">
            <h3>Have more questions? <span class="icon">➕</span></h3>
        </div>
    </div>
</div>


<div class="row3"> <!--More Systems made by our batch-->
    <h2 style="font-size: 3.12rem; padding-top: 1.25rem;">--- More systems ---</h2>
    <div class="mblock">
        <div class="msys"><img src="{% static 'images/school_transport.jpg' %}">
            <h3 style="color:  rgb(3, 106, 9);">School Bus Tranportation Management System</h3>
            <center>
                <button type="submit" name="submit" value="View Details">View Details</button>
            </center>
        </div>

        <div class="msys"><img src="{% static 'images/hotel.jpg' %}">
            <h3 style="color:  rgb(3, 106, 9);">Hotel Booking Management System</h3>
            <center>
                <button type="submit" name="submit" value="View Details">View Details</button>
            </center>
        </div>
        <div class="msys"><img src="{% static 'images/senti.jpg' %}">
            <h3 style="color:rgb(3, 106, 9);">Sentiment Analysis on Instagram Data</h3>
            <center>
                <button type="submit" name="submit" value="View Details">View Details</button>
            </center>
        </div>
        <div class="msys"><img src="{% static 'images/restaurant.jpg' %}">
            <h3 style="color: rgb(3, 106, 9);">Table Booking System In Restaurant</h3>
            <center>
                <button type="submit" name="submit" value="View Details">View Details</button>
            </center>
        </div>
    </div>
    <div class="mblock">
        <div class="msys"><img src="{% static 'images/tour.jpg' %}">
            <h3 style="color: rgb(3, 106, 9);">Tour Management System</h3>
            <center>
                <button type="submit" name="submit" value="View Details">View Details</button>
            </center>
        </div>

        <div class="msys"><img src="{% static 'images/employee.jpg' %}">
            <h3 style="color:  rgb(3, 106, 9);">Employee Management System</h3>
            <center>
                <button type="submit" name="submit" value="View Details">View Details</button>
            </center>
        </div>
        <div class="msys"><img src="{% static 'images/supermarket.jpg' %}">
            <h3 style="color: rgb(3, 106, 9);">Super Market Management System</h3>
            <center>
                <button type="submit" name="submit" value="View Details">View Details</button>
            </center>
        </div>
        <div class="msys"><img src="{% static 'images/vehicle.jpg' %}">
            <h3 style="color:  rgb(3, 106, 9);">Vehicle Service Management System</h3>
            <center>
                <button type="submit" name="submit" value="View Details">View Details</button>
            </center>
        </div>
    </div>
</div>

</main>
{% endblock %}


</body>
</html>
