{% extends 'hrmain.html' %}
{% load static %}
<html>
    <body>
        {% block mycontent %}
    
        <div class="welcome">
            Welcome To APM
        </div>
        <div class="container"> <!-- Image and text on image -->
            <div class="top-right">
                <h1>Attendance & Payroll Management System</h1>
            </div>
        </div>
    
        <div class="pooja"> <!-- Short Info about system -->
            <p>
                <b style="color: rgb(3, 106, 9);">Attendance & Payroll Management System</b></br></br>
                    The system records employee attendance, including clock-in and clock-out times, as well as any leave or absence requests.Attendance and Payroll Management System helps organizations improve efficiency, accuracy, and compliance in managing employee attendance and payroll processes.

            </p>
        </div> <!-- Division showing how system works -->
        <center>
            <div class="row">
                <div class="column"> <!-- Content for the first column -->
                    <center>
                        <h2>Mask Detection</h2>
                        <img src="{% static 'images/mask_detection.jpg' %}" class="img1">
                    </center>
                </div>
                <div class="column"> <!-- Content for the second column -->
                    <center>
                        <h2>Touchless, Access Control Integrated</h2>
                        <img src="{% static 'images/touchless_attendance.jpg' %}" class="img1">
                    </center>
                </div>
            </div>
        </center>
        <div class="row2"> <!-- Unique Information about System-->
            <div class="column"> <!-- Content for the first column -->
                <h2 style="color: rgb(3, 106, 9); font-size: 2.12rem; padding-left: 0.62rem;">What's Unique About Our Facial
                    Recognition System?</h2>
                <h3 style="color:rgb(19, 46, 2); font-size: 1.75rem; text-align: left; padding-left: 0.62rem;">Mask scan:</h3>
                <h5
                    style="color: rgb(19, 46, 2); font-size: 1.25rem; text-align: left; text-overflow: clip; padding-left: 0.62rem;">
                    The system can scan and identify if the person is wearing a mask. Ensure hygiene practices are followed
                    without manual tracking.</h5>
                <h3 style="color: rgb(19, 46, 2); font-size: 1.75rem; text-align: left; padding-left: 0.62rem;">Access control:
                </h3>
                <h5
                    style="color: rgb(19, 46, 2); font-size: 1.25rem; text-align: left; text-overflow: clip; padding-left: 0.62rem;">
                    The facial recognition system fully integrates with access control hardware like doors, gates, and
                    turnstiles. Therefore, if someone is found to be violating any rule, the system automatically won't
                    allow access. No manual tracking is needed.</h5>
    
            </div>
            <div class="column"> <!-- Content for the second column -->
                <center> <img src="{% static 'images/unique.jpg' %}" class="img2"></center>
            </div>
        </div>
        <div class="row1"> <!-- Features -->
            <h2 style="font-size: 3.12rem; padding-top: 1.25rem;">Facial Recognition Attendance Based Payment System - Features
            </h2>
            <div class="grid-container">
                <div class="grid-item">Touchless Attendance System
                    <div class="bottom-content">
                        <div class="column1"><img src="{% static 'images/Touchless-attendance.png' %}"></div>
                        <div class="column1"
                            style="font-size: 1.12rem ; color: rgb(19, 46, 2); text-overflow: clip; padding-top: 0.93rem; text-align: left;">
                            FRABPS face recognition device automatically records attendance. Makes organizations COVID
                            safe.</div>
                    </div>
                </div>
                <div class="grid-item">Mask Scan
                    <div class="bottom-content">
                        <div class="column1"><img src="{% static 'images/temp-mask-scan.png' %}"></div>
                        <div class="column1"
                            style="font-size: 1.12rem; color:rgb(19, 46, 2); text-overflow: clip; padding-top: 0.93rem; text-align: left;">
                            Our face recognition software detects mask on face.</div>
                    </div>
                </div>
                <div class="grid-item">Configurable Scaning Distance
                    <div class="bottom-content">
                        <div class="column1"><img src="{% static 'images/Configurable-Scanning-Distance.png' %}"></div>
                        <div class="column1"
                            style="font-size: 1.12rem; color: rgb(19, 46, 2); text-overflow: clip; padding-top: 0.93rem; text-align: left;">
                            Our facial recognition software provides short and long distance (2-6 ft) readings. Distance is
                            configurable as per your needs.</div>
                    </div>
                </div>
                <div class="grid-item">Choose Your Device
                    <div class="bottom-content">
                        <div class="column1"><img src="{% static 'images/Choose-your-solution-device.png' %}"></div>
                        <div class="column1"
                            style="font-size: 1.12rem; color: rgb(19, 46, 2); text-overflow: clip; padding-top: 0.93rem; text-align: left;">
                            Our system has wide options under one product range. You can choose the features you want - only
                            face, themal, mask scan, etc.</div>
                    </div>
                </div>
                <div class="grid-item">Multiple Face Detection
                    <div class="bottom-content">
                        <div class="column1"><img src="{% static 'images/Multiple-Face-Detection.png' %}"></div>
                        <div class="column1"
                            style="font-size: 1.12rem; color:rgb(19, 46, 2); text-overflow: clip; padding-top: 0.93rem; text-align: left;">
                            We have built the system with a focus on multiple face detection. This prevents chaos in front
                            of the kiosk at the entry points.</div>
                    </div>
                </div>
                <div class="grid-item">Multi-Language Capability
                    <div class="bottom-content">
                        <div class="column1"><img src="{% static 'images/Multi-Language-Capability.png' %}"></div>
                        <div class="column1"
                            style="font-size: 1.12rem; color:rgb(19, 46, 2); text-overflow: clip; padding-top: 0.93rem; text-align: left;">
                            Our system is apt for the Indian context.</div>
                    </div>
                </div>
                <div class="grid-item">Flexible Screen Sizes
                    <div class="bottom-content">
                        <div class="column1"><img src="{% static 'images/Flexible-Screen-Sizes.png' %}"></div>
                        <div class="column1"
                            style="font-size: 1.12rem; color: rgb(19, 46, 2); text-overflow: clip; padding-top: 0.93rem; text-align: left;">
                            We provide flexible display sizes as per requirements. Normally, we offer a 7 inch touchscreen
                            tablet for our facial recognition system.</div>
                    </div>
                </div>
                <div class="grid-item">Automatic Hand Sanitizer
                    <div class="bottom-content">
                        <div class="column1"><img src="{% static 'images/automatic-hand-sanitizer.png' %}"></div>
                        <div class="column1"
                            style="font-size: 1.12rem; color: rgb(19, 46, 2); text-overflow: clip; padding-top: 0.93rem; text-align: left;">
                            A contactless hand sanitizer is connected with the system and access control.</div>
                    </div>
                </div>
                <div class="grid-item">Easily Scalable
                    <div class="bottom-content">
                        <div class="column1"><img src="{% static 'images/FR-Easily-Scalable.png' %}"></div>
                        <div class="column1"
                            style="font-size: 1.12rem; color: rgb(19, 46, 2); text-overflow: clip; padding-top: 0.93rem; text-align: left;">
                            Our system can scan 5000 unique faces on the edge device. Can provide options for capacity and
                            performance up to 50000+ based on hardware.</div>
                    </div>
                </div>
            </div>
        </div>
    
        </div>
        </div>
        <div class="faq"> <!-- FAQ -->
            <h1 style="color: rgb(3, 106, 9); font-size: 2.5rem; text-align: center;">FAQs - Face Recognition Solution</h1>
            <div class="faq-section">
                <div class="faq-item">
                    <h3>What is a face recognition system? <span class="icon">➕</span></h3>
                </div>
    
                <div class="faq-item">
                    <h3>Which organizations can benefit from a facial recognition attendance system? <span
                            class="icon">➕</span></h3>
                </div>
    
                <div class="faq-item">
                    <h3>Does face recognition system provide accurate results? <span class="icon">➕</span></h3>
                </div>
    
                <div class="faq-item">
                    <h3>Is face recognition customizable? <span class="icon">➕</span></h3>
                </div>
    
                <div class="faq-item">
                    <h3>Is a facial recognition system a costly investment? <span class="icon">➕</span></h3>
                </div>
    
                <div class="faq-item">
                    <h3>Have more questions? <span class="icon">➕</span></h3>
                </div>
            </div>
        </div>
    
        <div class="row3"> <!--More Systems made by our batch-->
            <h2 style="font-size: 3.12rem; padding-top: 1.25rem;">--- More systems ---</h2>
            <div class="mblock">
                <div class="msys"><img src="{% static 'images/school_transport.jpg' %}">
                    <h3 style="color:  rgb(3, 106, 9);">School Bus Tranportation Management System</h3>
                    <center>
                        <button type="submit" name="submit" value="View Details">View Details</button>
                    </center>
                </div>
    
                <div class="msys"><img src="{% static 'images/hotel.jpg' %}">
                    <h3 style="color:  rgb(3, 106, 9);">Hotel Booking Management System</h3>
                    <center>
                        <button type="submit" name="submit" value="View Details">View Details</button>
                    </center>
                </div>
                <div class="msys"><img src="{% static 'images/senti.jpg' %}">
                    <h3 style="color:rgb(3, 106, 9);">Sentiment Analysis on Instagram Data</h3>
                    <center>
                        <button type="submit" name="submit" value="View Details">View Details</button>
                    </center>
                </div>
                <div class="msys"><img src="{% static 'images/restaurant.jpg' %}">
                    <h3 style="color: rgb(3, 106, 9);">Table Booking System In Restaurant</h3>
                    <center>
                        <button type="submit" name="submit" value="View Details">View Details</button>
                    </center>
                </div>
            </div>
            <div class="mblock">
                <div class="msys"><img src="{% static 'images/tour.jpg' %}">
                    <h3 style="color: rgb(3, 106, 9);">Tour Management System</h3>
                    <center>
                        <button type="submit" name="submit" value="View Details">View Details</button>
                    </center>
                </div>
    
                <div class="msys"><img src="{% static 'images/employee.jpg' %}">
                    <h3 style="color:  rgb(3, 106, 9);">Employee Management System</h3>
                    <center>
                        <button type="submit" name="submit" value="View Details">View Details</button>
                    </center>
                </div>
                <div class="msys"><img src="{% static 'images/supermarket.jpg' %}">
                    <h3 style="color: rgb(3, 106, 9);">Super Market Management System</h3>
                    <center>
                        <button type="submit" name="submit" value="View Details">View Details</button>
                    </center>
                </div>
                <div class="msys"><img src="{% static 'images/vehicle.jpg' %}">
                    <h3 style="color:  rgb(3, 106, 9);">Vehicle Service Management System</h3>
                    <center>
                        <button type="submit" name="submit" value="View Details">View Details</button>
                    </center>
                </div>
            </div>
        </div>
    
    {% endblock %}
    </body>
</html>