{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
</head>

<body>
    <!-- Header -->
    <nav>
        <!-- Navigation bar left -->
        <div class="navbar">
            <div class="navbar-left">
                {% if user.Name %}
                <img src="{% static 'images/logo.png' %}" class="navlogo"> <!-- Logo  -->
                <a href="{% url 'profile' %}" class="pooja" style="padding-left: 20px;"><i class="fa fa-fw fa-home"></i> Home</a>
                <a href="" class="pooja" style="padding-left: 20px;">Welcome <i class="fa fa-user-circle" aria-hidden="true"></i>       {{user.Name}}</a>
                <form method='POST' action="" style=" margin-bottom: 20px; padding-left: 20px; margin-top: 14px;">
                    {% csrf_token %}
                    <input type="search" placeholder="Search" aria-label="Search" name="search_query"
                        style="height: 30px; width: 150px; margin-top: 4px; padding-left: 10px;">
                    <button type="submit"
                        style="height: 30px; width: 70px; background-color: rgb(3, 106, 9); border-color: rgb(3, 106, 9); color: cornsilk;">Search</button>
                </form>
           
                <!-- Navigation bar right -->
                <a class="pooja" style="margin-left: 440px; padding-left: 20px;"><i class="fa fa-fw fa-phone"></i> Contact</a>
                <a class="pooja" style="padding-left: 20px;"><i class="fa fa-fw fa-envelope"></i> Email</a>
                <a href="{% url 'userlogin' %}" class="pooja" style="padding-left: 20px;"><i class="fa fa-fw fa-user"></i> Logout</a>
                {% else %}
   
                <a class="pooja" href="{%url 'userlogin'%}" style="color: rgb(255, 255, 255);"><b>LOGIN</b></a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block mycontent %}

    {% endblock %}

    <!-- Footer -->
    <div class="faq"> <!-- contact info-->
        <h2
            style="font-size: 3.12rem; padding-top: 1.25rem; text-align: center; padding-bottom: 3.12rem; border-bottom: 0.06rem solid gray;">
            Ready to find out more?
            </br>Drop a message. We'll make sure your time is well spent.</h2>
        <div class="row4">
            <div class="col">
                <ul>
                    <img src="{% static 'images/logo.png' %}"
                        style="width: 70%; height: 50%; padding-right: 1.87rem; border-right: 0.06rem solid rgb(19, 46, 2);">
                </ul>
            </div>
            <div class="col">
                <ul style=" padding-right: 3.12rem; border-right: 0.06rem solid rgb(19, 46, 2);">
                    <li><a href="#" style="font-size: 1.25rem; font-weight: bold; color: rgb(3, 106, 9);">Support</a></li>
                    <li><a href="{% url 'hrlogin' %}" style="font-size: 1.25rem; font-weight: bold; color: rgb(3, 106, 9);">hr</a></li>
                    <li><a href="#" style="font-size: 1.25rem; font-weight: bold; color: rgb(3, 106, 9);">About Us</a></li>
                    <li><a href="#" style="font-size: 1.25rem; font-weight: bold; color: rgb(3, 106, 9);">Contact</a></li>
                    <li><a href="#" style="font-size: 1.25rem; font-weight: bold; color: rgb(3, 106, 9);">Clients</a></li>
                    <li><a href="#" style="font-size: 1.25rem; font-weight: bold; color: rgb(3, 106, 9);">Join Us</a></li>
                    <li><a href="#" style="font-size: 1.25rem; font-weight: bold; color: rgb(3, 106, 9);">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><a style="font-size: 1.25rem; font-weight: bold; color: rgb(3, 106, 9);">Contact</a></li>
                    <li><a style="font-size: 1.25rem; font-weight: bold; color: rgb(3, 106, 9);">Address</a></li>
                    <li><a style="font-size: 1.12rem; color: rgb(19, 46, 2);">2562, 3rd Floor, 14th Cross, 24th Main, Sector 1,
                            HSR
                            Layout, </br>Bengaluru 560102, India</a></li>
                    <li><a style="font-size: 1.25rem; font-weight: bold; color: rgb(3, 106, 9);">Sales</a></li>
                    <li><a style="font-size: 1.12rem; color: rgb(19, 46, 2);">+91 73530 9999</br>
                            +91 86107 30231</br>
                            contact@frabps.in</a></li>
                    
                    <li><a style="font-size: 1.25rem; font-weight: bold; color: rgb(3, 106, 9);">Support</a></li>
                    <li><a style="font-size: 1.12rem; color: rgb(19, 46, 2);">+91 90717 99999</a></li>
                    <li><a style="font-size: 1.12rem; color: rgb(19, 46, 2);">support@frabps.in</a></li>




                    <li style="padding-top: 40px;"><a href="#"
                            style="color: rgb(3, 106, 9); text-decoration: none; padding: 10px;"><i
                                class="fa fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/accounts/login/"
                            style="color: rgb(3, 106, 9); text-decoration: none; padding: 10px;"><i
                                class="fa fa-instagram"></i></a>
                        <a href="https://www.facebook.com/login.php"
                            style="color: rgb(3, 106, 9); text-decoration: none; padding: 10px;"><i
                                class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/i/flow/login"
                            style="color: rgb(3, 106, 9); text-decoration: none; padding: 10px;"><i
                                class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>